body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(90deg, #540863, #92487A);
    color: white;
    font-family: sans-serif;
}

H1 {
    padding-bottom: 5vh;
}

#formulario {
    display: flex;
    flex-direction: column;
    background: linear-gradient(90deg, #92487A, #E49BA6);
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    border-radius: 20px;
    padding: 60px;
    min-width: 160px;
}

#formulario .refresh {
    position:relative;
    left: 4px;
    top: 3px;
    color: #000000;
    cursor: pointer;
}

#formulario .copy {
    position:relative;
    right: 46px;
    top: 3px;
    color: #000000;
    cursor: pointer;
}

.pass {
    margin-bottom:18px ;
}

.quantidade {
    margin-top: 12px;
}

.button {
    display: flex;
    justify-content: center;
    margin-top: 18px;
}

.button input[type="submit"] {
    background-color: #DEDED1;
    height: 32px;
    width: 64px;
    padding: 4px;
    border: 1px solid #000000;
    border-radius: 5px;
}

.button input[type="submit"]:hover {
    background-color: #C5C7BC;
    transition: 0.4s;
}